.body {
    width: 1280px;
}
.main-menu {
    letter-spacing: 2.4px;
    display: flex;
    padding-left: 330px;
    padding-right: 330px;
}
.main-menu li {
    list-style-type: none;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.main-menu a {
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat;

}
.image {
    height: 789px;
    width: 1280px;
}
.text1 {
    text-align: center;
    margin: 38px 67px 28px;
    font-family: Montserrat;
    letter-spacing: 2.4px;
    line-height: 16px;
    color: #373737;
}
.text2 {
    text-align: center;
    width: 1145px;
    height: 132px;
    margin: 28px 67px 67px;
    font-family: Montserrat;
    letter-spacing: 2.4px;
    line-height: 16px;
    color: #373737;   
}
.h2 {
    text-transform: uppercase;
    padding-left: 253px;
    padding-right: 253px;
    font-family: Montserrat;
    font-size: 22px;
    font-style: ;
    letter-spacing: 3.3px;
    color: #373737;
    margin-top: 48px;
    margin-bottom: 38px;
}
.p2 {
    padding-top: 28px;
}
.footer {
    float:right;
    margin-right: 105px;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-bottom: 29px;
    margin-top: 40px;
    border: 0;
}
.button {
    margin-left: 544.5px;
    margin-right: 544.5px;
    text-transform: uppercase;
    background-color: #FF0000;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-right: 43.5px;
    padding-left: 42.5px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
    line-height: 82%;
    border: 0;
    margin-top: 66px;
    margin-bottom: 42px;
}